# Зависимости
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Генерируемые нативные папки (ВАЖНО)
android/
ios/

# Gradle и кэш сборки
.gradle/
build/
android/gradle_cache/
.kotlin/

# Локальные настройки и секреты
local.properties
.env
.env*.local

# Ключи и сертификаты
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro и логи
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# Системные файлы и IDE
.DS_Store
*.iml
*.tsbuildinfo
*.orig.*